/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  font-family: BlinkMacSystemFont, -apple-system, sans-serif;
  margin: 0;
  padding-top: 50px;
}

nav {
  background-color: #4D394B;
  width: 100%;
  min-height: 50px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
}

nav .welcome {
  font-size: 8pt;
}

nav .welcome__name,
nav .welcome__name a {
  font-weight: 700;
  font-size: 10pt;
  color: white;
}

nav .links {
  position: absolute;
  right: 0;
}

nav .links a {
  color: white;
  margin-right: 10px;
}

p {
  margin: 0;
}